<div class="p-3">
  @if(accounts$|async ; as state){
    @if (state.status==RequestStatus.ERROR){
      <div class="text-danger"> {{state.errorMessage}}</div>
    } @else if (state.status==RequestStatus.SUCCESS){
      <table class="table">
        <thead>
        <tr>
          <th>TD</th>
          <th>Balance</th>
          <th>Type</th>
          <th>Date</th>
          <th>Customer ID</th>
        </tr>
        </thead>
        <tbody>
          @for (account of state.accounts; track account){
            <tr>
              <td>{{account.id}}</td>
              <td>{{account.balance}}</td>
              <td>{{account.type}}</td>
              <td>{{account.createAt}}</td>
              <td>{{account.customerId}}</td>
            </tr>
          }
        </tbody>
      </table>
    }


  }
</div>
